*{
padding:0;
margin:0;

}

body{
background-image: url("mathSiteBackGroung.jpg");
background-size: cover;
background-position: center;
box-sizing: border-box;
font-family: sans-serif;

}

.menu-bar{
background-color: rgb(0, 100,0) ;
text-align: center; }

.menu-bar ul{

    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 220px;
    margin:15px;
    padding: 15px;
  }
  

  .menu-bar ul li a{
    text-decoration: none;
    color: white;
     
  }

  .sub-menu-1{
    display: none;
  }

  .menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgb(0, 100,0);
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 10px;
  }

  .menu-bar ul li:hover .sub-menu-1 ul {
      display: block;
      margin:10px;
    
  }

   .menu-bar ul li:hover .sub-menu-1 ul li{
      
        width: 200px;
        padding: 10px;
        border-bottom: 1px solid rgb(255, 255, 255); 
        background-color: transparent;   
        text-align: left;

   }

.sub-menu-2{
    display: none;
}

.hoverme:hover .sub-menu-2{
    
    display: block;
    position: absolute;
    background-color: rgb(0, 100,0);
    margin-top: -40px;
    margin-left: 150px;
    border-radius: 10px;
}
.text-block{
  font-weight: bold;
  text-shadow: rgb(83, 83, 75);
  text-align: center;
  color: rgb(25, 12, 25);
  position: relative;
  font-size: 1em;

}



